{% extends "base.html" %}
{% load static  %}
{% load mathfilters %}

{% block title %}
Notifications
<!--<span class="filter position-absolute" style="right: 2rem;">-->
<!--    <a class="icon btn btn-dashboard" data-bs-toggle="dropdown" href="#" type="button">View By <i class="bi bi-grid"></i></a>-->
<!--    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--        <li class="dropdown-header text-start">-->
<!--            <h6>Filter</h6>-->
<!--        </li>-->
<!--        {% for year in years_list%}-->
<!--        <li><a class="dropdown-item" href="{% url 'reminders:reminders_list' year %}">{{year|stringformat:"i"}}</a></li>-->
<!--        {%endfor%}-->
<!--    </ul>-->
<!--</span>-->
{% endblock title %}

{% block content %}

<!-- Data Table -->
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.min.js' %}"></script>

<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->
</script>

<script>

</script>

<div class="mb-3">
<!--  <a href="popupex.html" onclick="return popitup('/reminders/add_reminder')">-->
<!--    <button type="button" class="btn btn-dashboard">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus me-1" viewBox="0 0 16 16">-->
<!--        <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>-->
<!--        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>-->
<!--      </svg>-->
<!--      New Reminder-->
<!--    </button>-->
<!--  </a>-->
<!--  <button type="button" class="btn btn-dashboard mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--    <svg class="bi bi-calendar-plus me-1" fill="currentColor" height="16" viewBox="0 0 16 16"-->
<!--             width="16" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>-->
<!--            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>-->
<!--        </svg>-->
<!--  New Reminder-->
<!--</button>-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Record Income / Expense</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addStock">
            <div class="mb-3">
                <label class="form-label">Property</label>
                <select class="form-select" name="property" id="property" aria-label="Default select example" required>
                    <option selected>------</option>
                    {% for property in property %}
                    <option value="{{property}}">{{property}}</option>
                    {% endfor %}
                </select>
               <label for="detail" class="form-label">Detail</label>
                <textarea class="form-control" id="detail" rows="3"></textarea>
              <label class="form-label">Due Date</label>
                <input class="form-control" name="date" id="date" type="date" value="{% now "Y-m-j" %}">
              <label class="form-label">Reminder type</label>
                <select class="form-select" name="type" id="type" aria-label="Default select example" required>
                    <option selected>------</option>
                    <option value="oneoff">One Off</option>
                    <option value="weekly">Weekly</option>
                    <option value="bi-weekly">Bi-Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                    <option value="quarterly">Quarterly</option>
                </select>
            </div>
            <button class="btn btn-primary form-control" type="button" onclick="newRemider()">ADD</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

<div class="card">
  <div class="card-body mt-4" style="overflow-x:auto;">
    <table id="reminder" class="table table-striped table-hover table-responsive" style="font-size:small">
      <thead>
        <tr>
          <th style="text-align: left;" scope="col">Reminder</th>
          <th style="text-align: right;" scope="col">Details</th>
          <th style="text-align: right;" scope="col">Due Date</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in notifications %}
        <tr>
          <td style="text-align: left;">{{ obj.reminder.property.name }}</td>
          <td style="text-align: right;">{{ obj.reminder.detail }}</td>
          <td style="text-align: right;">{{ obj.reminder.due_date }} </td>
          <td style="text-align: right;" style="text-align:right">
<!--            <a href="popupex.html" onclick="return popitup('/reminders/add_reminder/{{ obj.id }}')" style="text-decoration: none;">-->
<!--              <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">-->
<!--                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>-->
<!--                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </a>-->
<!--            <a href="popupex.html" onclick="return popitup('/reminders/{{ obj.pk }}/delete')" style="text-decoration: none;">-->
<!--              <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">-->
<!--                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
<!--                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
<!--                </svg>-->
<!--              </button>-->
<!--            </a>-->

                  <!--                            </a>-->
                  <div class="modal fade" id=basicModal{{obj.id}} tabindex="-1">
                      <div class="modal-dialog">
                          <form action="" method=POST>
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title">Edit Transaction</h5>
                                      <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                              type="button"></button>
                                  </div>
                                  <div class="modal-body">
                                      <form>
                                          <div class="mb-3">
                                               <label class="form-label">Property</label>
                                            <select class="form-select" name="property_edit{{obj.id}}" id="property_edit{{obj.id}}" aria-label="Default select example" required>
                                                <option value="{{ obj.property.name }}" selected>{{ obj.property.name }}</option>
                                                {% for property in property %}
                                                <option value="{{property}} ">{{property}}</option>
                                                {% endfor %}
                                                </select>
                                               <label for="detail_edit{{obj.id}}" class="form-label">Detail</label>
                                                <textarea class="form-control" id="detail_edit{{obj.id}}" rows="3">{{obj.detail}}</textarea>
                                              <label class="form-label">Due Date</label>
                                                <input class="form-control" name="date_edit{{obj.id}}" id="date_edit{{obj.id}}" type="text" value="{{obj.due_date}}" disabled>
                                              <label class="form-label">Reminder type</label>
                                                <select class="form-select" name="type_edit{{obj.id}}" id="type_edit{{obj.id}}" aria-label="Default select example" required>
                                                <option value="{{obj.reminder_type}}" selected>{{obj.reminder_type}}</option>
                                                <option value="oneoff">One Off</option>
                                                <option value="weekly">Weekly</option>
                                                <option value="bi-weekly">Bi-Weekly</option>
                                                <option value="monthly">Monthly</option>
                                                <option value="yearly">Yearly</option>
                                                <option value="quarterly">Quarterly</option>
                                            </select>
                                          </div>
                                          <button class="btn btn-primary" type="button" onclick="EditReminder({{obj.id}})">Submit</button>
                                      </form>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>

                      <!-- Modal -->
                      <div class="modal fade" id="deleteModal{{obj.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabelAssets">Delete Property</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="modal-body deleteForm">
                                  <h2 class="">You are about to delete this Property</h2>
                                  <p>Are you sure you want to delete<strong> {{ obj.detail  }}</strong>?</p>
                                  <p>This action cannot be undone.</p>
                                  <p>All transctions for this fund will be lost</p>
                                    <button class="btn btn-danger form-control" type="button" onclick="deleteReminder({{obj.id}})">Delete</button>
                                </div>
                          </div>
                        </div>
                      </div>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</div>
<script>
    function newRemider() {
        var date = document.getElementById('date').value;
        var detail = document.getElementById('detail').value;
        var property = document.getElementById('property').value;
        var type = document.getElementById('type').value;
        if (detail && date && property && type) {
            // Create Ajax Call
            $(document).ready(function () {
            let body={
                'date': date,
                'detail': detail,
                'property': property,
                'type': type,
            }
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '{% url "reminders:addreminder" %}',
                headers: {//<==
                    "X-CSRFTOKEN": "{{ csrf_token }}"//<==
                },
                data: JSON.stringify(body),
                success: function(data) {
                //Success code
                    console.log(data,'data')
                    if (data.user) {
                        location.reload();
                    }
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        });
        } else
        {
            alert("All fields must have a valid value.");
        }
  }
  function EditReminder(id){
        var date = document.getElementById(`date_edit${id}`).value;
        var detail = document.getElementById(`detail_edit${id}`).value;
        var property = document.getElementById(`property_edit${id}`).value;
        var type = document.getElementById(`type_edit${id}`).value;
        $(document).ready(function () {
            let body={
                'id': id,
                'detail': detail,
                'property': property,
                'type': type,
            }
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '{% url 'reminders:editreminder' %}',
                headers: {//<==
                    "X-CSRFTOKEN": "{{ csrf_token }}"//<==
                },
                data: JSON.stringify(body),
                success: function(data) {
                //Success code
<!--                    $(`#basicModal${data.user.id}`).modal('hide');-->
                    if (data.user) {
                        location.reload();
                    }
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        });
    }
    function deleteReminder(id) {
        $.ajax({
            url: '{% url "reminders:deletereminder" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data,'delete');
                if (data.deleted) {
                    location.reload();
                }
            }
        });
    }
</script>
<script>
  $(document).ready( function () {
    $('#reminder').DataTable();
  });
</script>

{% endblock content %}