{% load humanize %}
{% for obj in object_list %}
<tr>
    <td>{{ obj.name }}</td>
    <td>{{ obj.category }}</td>
    {% if obj.category.transaction_type == "Expense" %}
    <td style="color:#FF2D00">${{ obj.amount|intcomma }}</td>
    {% else %}
    <td>${{ obj.amount|intcomma }}</td>
    {% endif %}
    <td>{{ obj.date }}</td>
    <td style="text-align:right">
        <button class="btn btn-success btn-sm rounded-0"
                hx-get="{% url 'incomestatements:update-incomestatement' pk=obj.id year=year %}" hx-target="#dialog">
            <svg class="bi bi-pencil-square" fill="currentColor" height="16" viewBox="0 0 16 16"
                 width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                      fill-rule="evenodd"/>
            </svg>
        </button>
        <button class="btn btn-danger-1-1 btn-sm rounded-0" data-bs-target="#deleteModal{{obj.id}}" data-bs-toggle="modal"
                type="button">
            <svg class="bi bi-trash" fill="currentColor" height="16" viewBox="0 0 16 16"
                 width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                      fill-rule="evenodd"/>
            </svg>
        </button>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="deleteModal{{obj.id}}"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Property</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body deleteForm">
                        <h2 class="">You are about to delete this Property</h2>
                        <p>Are you sure you want to delete<strong> {{ obj.name }}</strong>?</p>
                        <p>This action cannot be undone.</p>
                        <p>All transctions for this fund will be lost</p>
                        <button class="btn btn-danger-1 form-control" onclick="deleteProperty({{obj.id}})" type="button">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% endfor %}