{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
<div class="title">{{category_name}}</div>
{% endblock title %}

{% block content %}
<script src="{% static 'apexcharts/apexcharts.min.js' %}"></script>
<script language="javascript" type="text/javascript">

<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->
</script>

<script src="{% static 'GoogleChart/Gchart.js' %}"></script>

<div class="dashboard">
  <div class="chart-container" style="position: relative;">
     <div class="row justify-content-around">
          <div class="col-lg-12">
              <div class="card">
                <div class="card-body pb-0">
                  <h5 class="card-title">{{transaction_type}}<span>| {{year}}</span></h5>
                  <div id="chart" style="width: auto ; height: 20rem;"></div>
                </div>
              </div>
            </div>
        </div>
     </div>


    <div class="row justify-content-around">
      <div class="col-lg-12">
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              {% for year in years_list%}
              <li><a class="dropdown-item" href="../{{year|stringformat:"i"}}">{{year|stringformat:"i"}}</a></li>
              {%endfor%}

            </ul>
          </div>
          <div class="card-body" style="overflow-x:auto;">
            <h5 class="card-title">{{transaction_type}}<span>| {{year}}</span></h5>
            <table class="table table-hover" style="font-size:small">
              <thead>
                <tr>
                  <th scope="col">Month</th>
                  <th scope="col">Budget</th>
                  <th scope="col">Actual</th>
                  <th scope="col">Difference</th>
                  <th scope="col">% of Budget</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in summary.items %}
                    <tr>
                  <th scope="col">{{value.name}}</th>
                    <td>{{value.budget}}</td>
                    <td>{{value.actual}}</td>
                    <td>{{value.difference}}</td>
                    <td>
                        <div class="progress">
                          <div {% if value.percentage > 100 %} class="progress-bar bg-danger" {% else %} class="progress-bar bg-warning" {% endif %} role="progressbar" style="width: {{value.percentage}}%" aria-valuenow="{{value.percentage}}%" aria-valuemin="0" aria-valuemax="100">{{value.percentage}}%</div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <thead>
                <tr style="background-color: #ededed">
                    <th scope="col">Total</th>
                    <td>{{budget.compute_budget}}</td>
                    <td>{{report_data.total}}</td>
                    <td>{{budget.compute_budget|sub:report_data.total}}</td>
                    <td>
                        {% if budget.compute_budget == 0 or report_data.total == 0 %}
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0%" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                        {% else %}
                        <div class="progress">
                          <div {% if percentage > 100 %} class="progress-bar bg-danger" {% else %} class="progress-bar bg-warning" {% endif %} role="progressbar" style="width:{{percentage}}%" aria-valuenow="{{percentage}}%" aria-valuemin="0" aria-valuemax="100">{{percentage}}%</div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            </thead>
              </tbody>
            </table>
          </div>
        </div>
<!--<div class="row">-->
<!--        <div class="col-lg-4">-->
<!--          <div class="card">-->
<!--            <div class="card-body pb-0">-->
<!--              <h5 class="card-title">All Expenses <span>| {{year}}</span></h5>-->
<!--              <div id="donutchart" style="width: auto; height: 20rem;"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--          <div class="card">-->
<!--            <div class="card-body pb-0">-->
<!--              <h5 class="card-title">All Incomes<span>| {{year}}</span></h5>-->
<!--              <div id="donutchart1" style="width: auto; height: 20rem;"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      <div class="col-lg-4">-->
<!--        <div class="card">-->
<!--            <div class="card-body pb-0">-->
<!--              <h5 class="card-title">Income vs Expense <span>| {{year}}</span></h5>-->
<!--              <div id="piechart" style="width: auto; height: 20rem;"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
  })
  console.log({{percentage}},3000,"3000")
</script>

<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      {% for key, value in categories_expense_yearly.items %}
      ['{{key}}', {{value}}],
      {% endfor %}
    ]);

    var options = {
      pieHole: 0.4,
      legend: { position: 'top', alignment: 'start' },
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));

    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      {% for key, value in categories_income_yearly.items %}
      ['{{key}}', {{value}}],
      {% endfor %}
    ]);

    var options = {
      pieHole: 0.4,
      legend: { position: 'top', alignment: 'start' },
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));

    chart.draw(data, options);
  }
</script>
<script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Actual',     {{ report_data.total|stringformat:"i"}}],
          ['Budget',      {{ budget.compute_budget|stringformat:"i"}}],
        ]);

        var options = {
          title: 'Income percentage of Budget',
          pieHole: 0.4,
          legend: { position: 'top', alignment: 'start' },
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
</script>
<script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Actual',     {{ total_income|stringformat:"i"}}],
          ['Budget',     {{ income_budget|stringformat:"i"}}],
        ]);

        var options = {
          title: 'Expanse percentage of Budget',
          pieHole: 0.4,
          legend: { position: 'top', alignment: 'start' },
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart1'));
        chart.draw(data, options);
      }
</script>
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Expense', {{ total_expense|stringformat:"i"}}],
      ['Income', {{ total_income|stringformat:"i"}}],
    ]);

    var options = {
      legend: { position: 'top', alignment: 'center' },
      colors: ['rgb(51, 102, 204)', 'rgb(153, 0, 153)',]
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }

</script>

<br>

{% endblock content %}