{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
<div class="title">Profit and Loss</div>
{% endblock title %}

{% block content %}
<script src="{% static 'apexcharts/apexcharts.min.js' %}"></script>
<script language="javascript" type="text/javascript">

<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->
</script>

<script src="{% static 'GoogleChart/Gchart.js' %}"></script>

<div class="dashboard">
  <div class="chart-container" style="position: relative;">
     <div class="row justify-content-around">
          <div class="col-lg-6">
          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">Incomes <span>| {{year}}</span></h5>
              <div id="chart" style="width: auto ; height: 20rem;"></div>
            </div>
          </div>
            </div>
          <div class="col-lg-6">
          <div class="card">
              <div class="card-body pb-0">
                <h5 class="card-title">Expenses <span>| {{year}}</span></h5>
                <div id="chart1" style="width: auto ; height: 20rem;"></div>
           </div>
          </div>
            </div>
        </div>
        </div>


    <div class="row justify-content-around">
      <div class="col-lg-12">
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>
              {% for year in years_list%}
              <li><a class="dropdown-item" href="../{{year|stringformat:"i"}}">{{year|stringformat:"i"}}</a></li>
              {%endfor%}

            </ul>
          </div>
          <div class="card-body" style="overflow-x:auto;">
            <h5 class="card-title">Personal Profit and Loss <span>| {{year}}</span></h5>
            <table class="table table-hover" style="font-size:small">
              <thead>
                <tr>
                  <th>YEAR - {{year}}</th>
                  <th scope="col">Jan</th>
                  <th scope="col">Feb</th>
                  <th scope="col">Mar</th>
                  <th scope="col">Apr</th>
                  <th scope="col">May</th>
                  <th scope="col">Jun</th>
                  <th scope="col">Jul</th>
                  <th scope="col">Aug</th>
                  <th scope="col">Sep</th>
                  <th scope="col">Oct</th>
                  <th scope="col">Nov</th>
                  <th scope="col">Dec</th>
                  <th scope="col">Total</th>
                  <th scope="col">Budget</th>
                  <th scope="col">% of Budget</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">INCOME</th>
                </tr>
                  <!-- <td scope="row">Maintenance</td>-->
                  {% for category_name, data in income_result.items %}
                  <tr>
                    <th scope="row">{{category_name}}</th>
                    {% for months,  months_data in data.items %}
                      {% for month_name, month_expense in months_data.items %}
                        <td>${{month_expense}}</td>
                      {% endfor %}
                    {% endfor %}
                    <td>${{data.total}}</td>
                    <td>${{data.Budget}}</td>
                    <td>
                      <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: {{data.percentage}}%" aria-valuenow="{{data.percentage}}" aria-valuemin="0" aria-valuemax="100">{{data.percentage}}%</div>
                        </div>
                    </td>
                  </tr>
                  {% endfor %}

                <tr>
                  <thead>
                    <tr style="background-color: #ededed">
                    <th scope="row"><i>Total</i></th>
                    {% for amount in month_income.values %}
                    <th>${{amount}}</th>
                    {% endfor %}
                    <th><div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{income_budget_percentage}}%" aria-valuenow="{{income_budget_percentage}}" aria-valuemin="0" aria-valuemax="100">{{income_budget_percentage}}%</div>
                    </div></th>
                    </tr>
                  </thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="col">EXPENSES</th>
                </tr>
                  <!-- Loop 1-->
                  {% for category_name, data in expenses_result.items %}
                    <tr>
                    <th scope="row">{{category_name}}</th>
                      <!-- Loop 2-->
                      {% for months,  months_data in data.items %}
                        <!--Loop 3-->
                        {% for month_name, month_expense in months_data.items %}
                          <td>${{month_expense}}</td>
                        {% endfor %}

                      {% endfor %}

                      <td>${{data.total}}</td>
                      <td>${{data.Budget}}</td>
                      <td>
                      <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: {{data.percentage}}%" aria-valuenow="{{data.percentage}}%" aria-valuemin="0" aria-valuemax="100">{{data.percentage}}%</div>
                        </div>
                    </td>
                    </tr>
                  {% endfor %}
                <thead>
                  <tr style="background-color: #ededed">
                    <th scope="row"><i>Total</i></th>
                    {% for amount in month_expenses.values %}
                    <th>${{amount}}</th>
                    {% endfor %}
                    <th>
                      <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{expense_budget_percentage}}%" aria-valuenow="{{expense_budget_percentage}}" aria-valuemin="0" aria-valuemax="100">{{expense_budget_percentage}}%</div>
</div>
                    </th>
                  </tr>
                </thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="col">Net Income</th>
                </tr>
                  <!-- Loop 1-->

                <thead>
                  <tr style="background-color: #ededed">
                    <th scope="row"><i>Total</i></th>
                    {% for amount in net_income %}
                    <th>${{amount}}</th>
                    {% endfor %}
                    <th>
                      <div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: {{income_budget_percentage}}%" aria-valuenow="{{income_budget_percentage}}" aria-valuemin="0" aria-valuemax="100">{{income_budget_percentage}}%</div>
</div>
                    </th>
                    <th></th>
                  </tr>
                </thead>
              </tbody>
            </table>
          </div>
        </div>
<div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">All Expenses <span>| {{year}}</span></h5>
              <div id="donutchart" style="width: auto; height: 20rem;"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">All Incomes<span>| {{year}}</span></h5>
              <div id="donutchart1" style="width: auto; height: 20rem;"></div>
            </div>
          </div>
        </div>
      <div class="col-lg-4">
        <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">Income vs Expense <span>| {{year}}</span></h5>
              <div id="piechart" style="width: auto; height: 20rem;"></div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>

<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      {% for key, value in categories_expense_yearly.items %}
      ['{{key}}', {{value}}],
      {% endfor %}
    ]);

    var options = {
      pieHole: 0.4,
      legend: { position: 'top', alignment: 'start' },
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));

    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      {% for key, value in categories_income_yearly.items %}
      ['{{key}}', {{value}}],
      {% endfor %}
    ]);

    var options = {
      pieHole: 0.4,
      legend: { position: 'top', alignment: 'start' },
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));

    chart.draw(data, options);
  }
</script>
<script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Actual',     {{ total_expense|stringformat:"i"}}],
          ['Budget',      {{ expense_budget|stringformat:"i"}}],
        ]);

        var options = {
          title: 'Income percentage of Budget',
          pieHole: 0.4,
          legend: { position: 'top', alignment: 'start' },
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
</script>
<script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Actual',     {{ total_income|stringformat:"i"}}],
          ['Budget',     {{ income_budget|stringformat:"i"}}],
        ]);

        var options = {
          title: 'Expanse percentage of Budget',
          pieHole: 0.4,
          legend: { position: 'top', alignment: 'start' },
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart1'));
        chart.draw(data, options);
      }
</script>
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Expense', {{ total_expense|stringformat:"i"}}],
      ['Income', {{ total_income|stringformat:"i"}}],
    ]);

    var options = {
      legend: { position: 'top', alignment: 'center' },
      colors: ['rgb(51, 102, 204)', 'rgb(153, 0, 153)',]
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }

</script>

<br>


{% endblock content %}