{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
<div class="title">Profit and Loss <span>| {{ year }}</span></div>
{% endblock title %}

{% block content %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->
</script>

<script src="{% static 'GoogleChart/Gchart.js' %}"></script>

<div class="row">
  <div class="col-lg-3">
    <select class="form-control mb-3" onchange="location = this.value;">
      <option selected="" value="" disabled>Select year</option>
      <option value="../2019">2019</option>
      <option value="../2020">2020</option>
      <option value="../2021">2021</option>
      <option value="../2022">2022</option>
      <option value="../2023">2023</option>
      <option value="../2024">2024</option>
      <option value="../2025">2025</option>
    </select>
  </div>
</div>

<div class="chart-container" style="position: relative;">
  <div class="row justify-content-around">

    <div class="col-lg-9">
      <div class="card">
        <div class="card-body mt-4">
          <table class="table table-hover" style="font-size:small">
            <thead>
              <tr>
                <th>YEAR - {{year}}</th>
                <th scope="col">Jan</th>
                <th scope="col">Feb</th>
                <th scope="col">Mar</th>
                <th scope="col">Apr</th>
                <th scope="col">May</th>
                <th scope="col">Jun</th>
                <th scope="col">Jul</th>
                <th scope="col">Aug</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nov</th>
                <th scope="col">Dec</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col">INCOME</th>
              </tr>
              <tr>
                <td scope="row">Job</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Rent Received</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <thead>
                  <tr>
                    <th scope="row">Total</th>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                    <td>$0</td>
                  </tr>
                </thead>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="col">EXPENSES</th>
              </tr>
              <tr>
                <td scope="row">Maintenance</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Rent</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Rates</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Commission</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Accountant</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Fees</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Sundry Expense</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Lawns</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Electrical</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Plumbing</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Paydown</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <tr>
                <td scope="row">Tsb</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
                <td>$0</td>
              </tr>
              <thead>
                <tr style="background-color: #ededed">
                  <th scope="row">Total</th>
                  {% for k, v in month_expenses.items %}
                  <th>${{v}}</th>
                  {% endfor %}
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-body pb-0">
          <h5 class="card-title">All Expenses <span>| {{year}}</span></h5>
          <div id="donutchart" style="width: auto; height: 20rem;"></div>
        </div>
      </div>

      <div class="card">
        <div class="card-body pb-0">
          <h5 class="card-title">Income vs Expense <span>| {{year}}</span></h5>
          <div id="piechart" style="width: auto; height: 20rem;"></div>
        </div>
      </div>
      <!-- <div id="piechart" style="width: 100%; height:400px"></div> -->

    </div>

  </div>
</div>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>

<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work', 11],
      ['Eat', 2],
      ['Commute', 2],
      ['Watch TV', 2],
      ['Sleep', 7]
    ]);

    var options = {
      // title: 'All Expenses',
      // is3D: true,
      pieHole: 0.4,
      // legend: 'none',
      // pieSliceText: 'label',
      legend: { position: 'top', alignment: 'start' },
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Income', 2000],
      ['Expense', 1500]
  ]);

  var options = {
    // title: 'Income Vs Expense',
    // is3D: true,
    // pieHole: 0.4,
    // legend: 'none',
    // pieSliceText: 'label',
    legend: { position: 'top', alignment: 'center' },
    colors: ['rgb(51, 102, 204)', 'rgb(153, 0, 153)',]
  };

  var chart = new google.visualization.PieChart(document.getElementById('piechart'));

  chart.draw(data, options);
}
</script>

<br> 


{% endblock content %}