{% extends "base.html" %}
{% load static  %}
{% load mathfilters %}

{% block title %}
Contacts List
{% endblock title %}

{% block content %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->
</script>
<script>

</script>

<!--<a href="popupex.html" onclick="return popitup('add')">-->
<!--  <button type="button" class="btn btn-dashboard mb-3">            -->
<!--    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus me-1" viewBox="0 0 16 16">-->
<!--      <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>-->
<!--      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>-->
<!--    </svg>-->
<!--    New Contact-->
<!--  </button>-->
<!--</a>-->
<button type="button" class="btn btn-dashboard mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <svg class="bi bi-calendar-plus me-1" fill="currentColor" height="16" viewBox="0 0 16 16"
             width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
  New Contact
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Record Income / Expense</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addStock">
            <div class="mb-3">
                <label class="form-label">First name</label>
                <input class="form-control" name="first_name" id="first_name" type="text">
              <label class="form-label">Last name</label>
                <input class="form-control" name="last_name" id="last_name" type="text">
              <label class="form-label">Company name</label>
                <input class="form-control" name="company_name" id="company_name" type="text">
              <label class="form-label">Occupation</label>
                <input class="form-control" name="occupation" id="occupation" type="text">
              <label class="form-label">Contact number</label>
                <input class="form-control" name="contact_number" id="contact_number" type="text">
              <label class="form-label">Service area</label>
                <input class="form-control" name="service_area" id="service_area" type="text">
              <label class="form-label">Website url</label>
                <input class="form-control" name="website_url" id="website_url" type="text">
              <label for="notes" class="form-label">Notes</label>
                <textarea class="form-control" id="notes" rows="3"></textarea>
                <label for="notes" class="form-label">Properties</label>
                <select class="form-select" multiple aria-label="multiple select example" id="properties">
                  <option selected>------</option>
                    {% for property in property %}
                     <option value="{{property}}">{{property}}</option>
                    {% endfor %}
                </select>
               </div>
            <button class="btn btn-primary form-control" type="button" onclick="newContact()">ADD</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <div class="card-body mt-4" style="overflow-x:auto;">
    <table class="table table-hover" style="font-size:small">
      <thead>
        <tr>
          <th style="text-align: left;" scope="col">Name</th>
          <th style="text-align: right;" scope="col">Company</th>
          <th style="text-align: right;" scope="col">Occupation</th>
          <th style="text-align: right;" scope="col">Phone Number</th>
          <th style="text-align: right;" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
        <tr>
          <td style="text-align: left;">{{ obj.first_name }}</td>
          <td style="text-align: right;">{{ obj.company_name }}</td>
          <td style="text-align: right;">{{ obj.occupation }} </td>
          <td style="text-align: right;"><a href="tel:{{ obj.contact_number }}">{{ obj.contact_number }}</a> </td>
          <td style="text-align:right">
            <a href="popupex.html" onclick="return popitup('/contacts/{{ obj.id }}/edit')" style="text-decoration: none;">
              <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
            </a>
            <a href="popupex.html" onclick="return popitup('/contacts/{{ obj.pk }}/delete')" style="text-decoration: none;">
              <button class="btn btn-danger-1 btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
  
      </tbody>
    </table> 
  </div>

</div> -->


<div class="row">
  {% for obj in object_list %}
  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card contact-card d-flex flex-fill">
      <div class="card-header contact-card-header text-muted border-bottom-0">
        {{ obj.occupation }}
      </div>
      <div class="card-body contact-card-body pt-0">
        <div class="row">
          <div class="col-7">
            <h2 class="lead"><b>{{ obj.first_name }} {{ obj.last_name }} </b></h2>
            <p class="text-muted"><small><b>Company: </b> {{ obj.company_name }}</small> </p>
            <ul class="ms-4 mb-0 fa-ul text-muted text-start">
              <li class="small text-start"><small><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> <b>Properties:</b> {% for property in obj.properties.all %} {{property}} {% if not forloop.last %} / {% endif %}{% endfor %} </small></li>
              <li class="small text-start"><small><span class="fa-li"><i class="fas fa-suitcase"></i></span> <b>Occupation:</b> {{ obj.occupation }}</small></li>
                <li class="small text-start"><small><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> <b>Phone #:</b> <a href="tel:{{ obj.contact_number }}">{{ obj.contact_number }}</a></small></li>
                <li class="small text-start"><small><span class="fa-li"><i class="fas fa-search-location"></i></span> <b>Service Area:</b> {{ obj.service_area }}</small></li>
                <li class="small text-start"><small><span class="fa-li"><i class="fas fa-globe"></i></span> <b>Website Url:</b> {{ obj.website_url }}</small></li>
                <li class="small text-start"><small><span class="fa-li"><i class="fas fa-sticky-note"></i></span> <b>Notes:</b> {{ obj.notes }}</small></li>
            </ul>
          </div>
          <div class="col-5 text-center">
            <!-- <img src="../../dist/img/user2-160x160.jpg" alt="user-avatar" class="img-circle img-fluid"> -->
            <img src="{% static "images/contact-avatar.png" %}" class="img-fluid" width= '120' height='120'>
          </div>
        </div>
      </div>
      <div class="card-footer contact-card-footer">
        <div class="text-end">
          <a href="tel:{{ obj.contact_number }}" class="btn btn-sm bg-success text-white">
            <i class="fas fa-phone"></i> Call
          </a>
<!--          <a href="popupex.html" onclick="return popitup('/contacts/{{ obj.id }}/edit')" class="btn btn-sm bg-primary text-white">-->
<!--            <i class="fas fa-edit"></i> Edit-->
<!--          </a>-->
<!--          <a href="popupex.html" onclick="return popitup('/contacts/{{ obj.pk }}/delete')" class="btn btn-sm bg-danger text-white">-->
<!--            <i class="fas fa-trash"></i> Delete-->
<!--          </a>-->
          <button class="btn btn-sm bg-primary text-white"" data-bs-target="#basicModal{{obj.id}}"
                          data-bs-toggle="modal" data-placement="top"
                          title="Edit" type="button"><i class="fas fa-edit"></i>Edit
                  </button>
                  <!--                            </a>-->
                  <div class="modal fade" id=basicModal{{obj.id}} tabindex="-1">
                      <div class="modal-dialog">
                          <form action="" method=POST>
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title">Edit Transaction</h5>
                                      <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                              type="button"></button>
                                  </div>
                                  <div class="modal-body">
                                      <form>
                                          <div class="mb-3">
                                              <label class="form-label">First name</label>
                                                <input class="form-control" value="{{obj.first_name}}" name="first_name{{obj.id}}" id="first_name{{obj.id}}" type="text">
                                              <label class="form-label">Last name</label>
                                                <input class="form-control" value="{{obj.last_name}}" name="last_name{{obj.id}}" id="last_name{{obj.id}}" type="text">
                                              <label class="form-label">Company name</label>
                                                <input class="form-control" value="{{obj.company_name}}" name="company_name{{obj.id}}" id="company_name{{obj.id}}" type="text">
                                              <label class="form-label">Occupation</label>
                                                <input class="form-control" value="{{obj.occupation}}" name="occupation{{obj.id}}" id="occupation{{obj.id}}" type="text">
                                              <label class="form-label">Contact number</label>
                                                <input class="form-control" value="{{obj.contact_number}}" name="contact_number{{obj.id}}" id="contact_number{{obj.id}}" type="text">
                                              <label class="form-label">Service area</label>
                                                <input class="form-control" value="{{obj.service_area}}" name="service_area{{obj.id}}" id="service_area{{obj.id}}" type="text">
                                              <label class="form-label">Website url</label>
                                                <input class="form-control" value="{{obj.website_url}}" name="website_url{{obj.id}}" id="website_url{{obj.id}}" type="text">
                                              <label for="notes" class="form-label">Notes</label>
                                                <textarea class="form-control" id="notes{{obj.id}}" rows="3">{{obj.notes}}</textarea>
                                              <select class="form-select" multiple aria-label="multiple select example" id="properties{{obj.id}}">
                                                    {% for property in property %}
                                                     <option value="{{property}}">{{property}}</option>
                                                    {% endfor %}
                                                </select>
                                          </div>
                                          <button class="btn btn-primary" type="button" onclick="EditContact({{obj.id}})">Submit</button>
                                      </form>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                    <button type="button" class="btn btn-sm bg-danger text-white" data-bs-toggle="modal" data-bs-target="#deleteModal{{obj.id}}">
                        <i class="fas fa-trash"></i>Delete
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="deleteModal{{obj.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabelAssets">Delete Property</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="modal-body deleteForm">
                                  <h2 class="">You are about to delete this Property</h2>
                                  <p>Are you sure you want to delete<strong> {{ obj.last_name  }}</strong>?</p>
                                  <p>This action cannot be undone.</p>
                                  <p>All transctions for this fund will be lost</p>
                                    <button class="btn btn-danger-1 form-control" type="button" onclick="deleteContact({{obj.id}})">Delete</button>
                                </div>
                          </div>
                        </div>
                      </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script>
  function newContact() {
        var first_name = document.getElementById('first_name').value;
        var last_name = document.getElementById('last_name').value;
        var company_name = document.getElementById('company_name').value;
        var occupation = document.getElementById('occupation').value;
        var contact_number = document.getElementById('contact_number').value;
        var service_area = document.getElementById('service_area').value;
        var website_url = document.getElementById('website_url').value;
        var notes = document.getElementById('notes').value;
        if (first_name && last_name && contact_number) {
            // Create Ajax Call
            $(document).ready(function () {
            const mySelect = $('#properties')
            let body={
                'first_name': first_name,
                'last_name': last_name,
                'company_name': company_name,
                'occupation': occupation,
                'contact_number': contact_number,
                'service_area': service_area,
                'website_url': website_url,
                'notes': notes,
                'properties': mySelect.val(),
            }
            console.log('hello')
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '{% url "contacts:addcontact" %}',
                headers: {//<==
                    "X-CSRFTOKEN": "{{ csrf_token }}"//<==
                },
                data: JSON.stringify(body),
                success: function(data) {
                //Success code
                    console.log(data,'data')
                    if (data.user) {
                        location.reload();
                    }
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        });
        } else
        {
            alert("All fields must have a valid value.");
        }
  }
  function EditContact(id){
        var first_name = document.getElementById(`first_name${id}`).value;
        var last_name = document.getElementById(`last_name${id}`).value;
        var company_name = document.getElementById(`company_name${id}`).value;
        var occupation = document.getElementById(`occupation${id}`).value;
        var contact_number = document.getElementById(`contact_number${id}`).value;
        var service_area = document.getElementById(`service_area${id}`).value;
        var website_url = document.getElementById(`website_url${id}`).value;
        var notes = document.getElementById(`notes${id}`).value;
        $(document).ready(function () {
            const mySelect = $(`#properties${id}`)
            let body={
                 'id': id,
                'first_name': first_name,
                'last_name': last_name,
                'company_name': company_name,
                'occupation': occupation,
                'contact_number': contact_number,
                'service_area': service_area,
                'website_url': website_url,
                'notes': notes,
                'properties': mySelect.val(),
            }
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '{% url 'contacts:editcontact' %}',
                headers: {//<==
                    "X-CSRFTOKEN": "{{ csrf_token }}"//<==
                },
                data: JSON.stringify(body),
                success: function(data) {
                //Success code
<!--                    $(`#basicModal${data.user.id}`).modal('hide');-->
                    if (data.user) {
                        location.reload();
                    }
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        });
    }
    function deleteContact(id) {
        $.ajax({
            url: '{% url "contacts:deletecontact" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data,'delete');
                if (data.deleted) {
                    location.reload();
                }
            }
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}