{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
<div class="title">Financial Plan</div>
{% endblock title %}

{% block content %}

<!-- Data Table -->
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}">  
<script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.min.js' %}"></script>

<!-- Google Chart -->
<script src="{% static 'GoogleChart/Gchart.js' %}"></script>
<script src="{% static 'apexcharts/apexcharts.min.js' %}"></script>

<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

<style>
  tr {
    vertical-align: top;
  }
  input[type='number']{
    padding-left:20px;
    text-align:left;
  } 
</style>
{% if form %}
<form class="bg-white p-4 shadow mb-4" action="" method=POST> 
  {% csrf_token %}
  <label>Start Date</label> &nbsp;
  {{form.start_date }} &nbsp; &nbsp; &nbsp;
  <label>Networth Goal</label> &nbsp;
	{{ form.networth_goal }} &nbsp; &nbsp; &nbsp;
  <label>Consumer Price Index</label> &nbsp;
  {{ form.cpi }} &nbsp; &nbsp; &nbsp;

  </br>
  </br>
  <div class="row bd-highlight">
    <div class="col-lg-6 p-2 bd-highlight">
      <table>
        <tr>
          <th>Current Year:</th>
          <th>{{ current_year }}</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Goal:</th>
          <th style="text-align:right" id="id_adjusted_goal">${{ adjusted_goal }}</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Cashflow:</th>
          <th style="text-align:right" id="id_swr_total"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><br></td>
          <td></td>
          <td></td>
          <td>SWR%</td>
          <td></td>
        </tr>

        <tr>
          <td>Real Estate:</td>
          <td>{{ form.real_estate }}%</td>
          <td style="text-align:right"><p id="id_real_estate_p"></p></td>
          <td>{{ form.real_estate_swr }}</td>
          <td><p id="id_swr_real_estate">$ </p></td>
        </tr>

        <tr>
          <td>Stocks:</td>
          <td>{{ form.stocks }}%</td>
          <td style="text-align:right"><p id="id_stocks_p"></p></td>
          <td>{{ form.stocks_swr }}</td>
          <td><p id="id_swr_stocks">$ </p></td>
        </tr>

        <tr>
          <td>Crypto:</td>
          <td>{{ form.crypto }}%</td>
          <td style="text-align:right"><p id="id_crypto_p"></p></td>
        </tr>

        <tr>
          <td>Commodites</td>
          <td>{{ form.commodities }}% </td>
          <td style="text-align:right"><p id="id_commodities_p"></p></td>
        </tr>

        <tr>
          <td>Collectables</td>
          <td>{{ form.collectables }}%</td>
          <td style="text-align:right"><p id="id_collectables_p"></p></td>
        </tr>

        <tr>
          <td>Cash:</td>
          <td>{{ form.cash }}%</td>
          <td style="text-align:right">  <p id="id_cash_p"></p></td>
        </tr>

      </table>

      <div class="row">
        <div class="col">
          <p id="counter"></p>
          <input type="submit" id="Button" class="btn btn-dashboard" value="Update"></input>
        </div>
        <div class="col">
          <br/>
          <p id="id_real_estate_p"></p>
        </div>
        <div class="col">
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="piechart" style="width: auto; height: 450px"></div>
      <!-- <div id="pieChart" style="width: 100%;"></div> -->
    </div>

  </div>
</form>
    

<div class="card">
  <div class="card-body mt-4" style="overflow-x:auto;">
    <table id="financial_plan" class="table table-striped table-responsive table-hover" style="font-size:small">
      <thead>
        <tr>
          <th>Year</th>
          <th>Goal</th>
          <th>Real Estate</th>
          <th>Stocks</th>
          <th>Crypto</th>
          <th>Commodites</th>
          <th>Collectables</th>
          <th>Cash</th>
          <th>Cashflow</th>
        </tr>
      </thead>
      {% for year, goal, realestateFV, stocksFV, cryptoFV, commoditiesFV, collectablesFV, cashFV, amount in zipped %}
      <tr>
        <td>{{ year }} </td>
        <td>${{ goal|intcomma }} </td>
        <td>${{ realestateFV|intcomma }} </td>
        <td>${{ stocksFV|intcomma }} </td>
        <td>${{ cryptoFV|intcomma }} </td>
        <td>${{ commoditiesFV|intcomma }} </td>
        <td>${{ collectablesFV|intcomma }} </td>
        <td>${{ cashFV|intcomma }} </td>
        <td>${{ amount|intcomma }}</td>
      </tr>
      {% endfor %}
      <tbody>
        {% for obj in object_list %}
        <tr>
          <td><a href='./{{obj.pk}}'>{{ obj.commodity_class }}</a></td>
          <td>{{ obj.totalweight }}</td>
          <td>${{ obj.spot_price }} </td>
          <td>${{ obj.total|floatformat }}</td>
          <td>${{ obj.invested }}</td>
          <td>{{ obj.percent|floatformat }}%</td>
          <td style="text-align:right">
            <a href="popupex.html" onclick="return popitup('/commodities/{{ obj.id }}/edit')">
              <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
            </a>
            <a href="popupex.html" onclick="return popitup('/commodities/{{ obj.pk }}/delete')">
              <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% else %}
<div class="row">
        <div class="col">
          <p id="counter"></p>
          <button type="button" class="btn btn-dashboard mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <svg class="bi bi-calendar-plus me-1" fill="currentColor" height="16" viewBox="0 0 16 16"
             width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
  Add
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Property</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3">
              <label class="form-label">Start Date</label>
                <input class="form-control" name="start_date" id="start_date" type="date" value="{% now "Y-m-j" %}">
            </div>
              <label class="form-label">Networth Goal</label>
              <input class="form-control" name="networth_goal" min=0 step="any" id="networth_goal" type="number" oninput="validity.valid||
    (value='');" required>
                <label class="form-label">Cpi</label>
              <input class="form-control" name="cpi" min=0 step="any" id="cpi" type="number" oninput="validity.valid||
    (value='');" required>
                <label class="form-label">Real Estate</label>
                <input class="form-control" name="real_estate" min=0 step="any" id="real_estate" type="number" oninput="validity.valid||
    (value='');" required>
              <label class="form-label">Stocks</label>
              <input class="form-control" name="stocks" min=0 step="any" id="stocks" type="number" oninput="validity.valid||
    (value='');" required>
              <label class="form-label">Crypto</label>
              <input class="form-control" name="crypto" min=0 step="any" id="crypto" type="number" oninput="validity.valid||
    (value='');" required>
              <label class="form-label">Commodities</label>
                <input class="form-control" name="commodities" min=0 step="any" id="commodities" type="number" oninput="validity.valid||
    (value='');" required>
              <label class="form-label">Collectables</label>
                <input class="form-control" name="collectables" min=0 step="any" id="collectables" type="number" oninput="validity.valid||
    (value='');" required>
              <label class="form-label">Cash</label>
                <input class="form-control" name="cash" min=0 step="any" id="cash" type="number" oninput="validity.valid||
    (value='');" required>
                <label class="form-label">Real Estate SWR</label>
                <input class="form-control" name="real_estate_swr" min=0 step="any" id="real_estate_swr" type="number" oninput="validity.valid||
    (value='');" required>
              <label class="form-label">Stocks SWR</label>
                <input class="form-control mb-2" name="stocks_swr" min=0 step="any" id="stocks_swr" type="number" oninput="validity.valid||
    (value='');" required>
            <button class="btn btn-primary form-control" type="button" onclick="addEntry()">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
          {% endif %}
<script>
  var formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',

    // These options are needed to round to whole numbers if that's what you want.
    //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
    //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
  });
  const button = document.querySelector('#button');
  var maxPercent = 100;
  var currentTotal = 0;
  var netWorth = {{ adjusted_goal }}

  function returnMoney(x) {
    return x.toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    });
  }

  window.onload = function() {
    var realEstate = document.getElementById('id_real_estate').value;
    var stocks = document.getElementById('id_stocks').value;
    var crypto = document.getElementById('id_crypto').value;
    var commodities = document.getElementById('id_commodities').value; 
    var collectables = document.getElementById('id_collectables').value; 
    var cash = document.getElementById('id_cash').value; 
    var realEstateSWR = document.getElementById('id_real_estate_swr').value;
    var stocksSWR = document.getElementById('id_stocks_swr').value;
    var totalSWR = ((realEstate * netWorth / 100) * (realEstateSWR / 100)) + ((stocks * netWorth / 100) * (stocksSWR / 100));
    var totalSWRFormatted = returnMoney(totalSWR);
    var adjustedGoal = returnMoney({{ adjusted_goal }});
    document.getElementById("id_adjusted_goal").innerHTML = adjustedGoal;
    document.getElementById("id_real_estate_p").innerHTML = returnMoney((realEstate * netWorth / 100));
    document.getElementById("id_stocks_p").innerHTML = returnMoney((stocks * netWorth / 100));
    document.getElementById("id_crypto_p").innerHTML = returnMoney((crypto * netWorth / 100));
    document.getElementById("id_commodities_p").innerHTML = returnMoney((commodities * netWorth / 100));
    document.getElementById("id_collectables_p").innerHTML = returnMoney((collectables * netWorth / 100));
    document.getElementById("id_cash_p").innerHTML = returnMoney((cash * netWorth / 100));
    document.getElementById("id_swr_real_estate").innerHTML = returnMoney(((realEstate * netWorth / 100) * (realEstateSWR / 100)));
    document.getElementById("id_swr_stocks").innerHTML = returnMoney((stocks * netWorth / 100) * (stocksSWR / 100));
    document.getElementById("id_swr_total").innerHTML = totalSWRFormatted; 
  }
  
  function swrUpdate(){
    var realEstate = document.getElementById('id_real_estate').value;
    var stocks = document.getElementById('id_stocks').value;
    var realEstateSWR = document.getElementById('id_real_estate_swr').value;
    var stocksSWR = document.getElementById('id_stocks_swr').value;
    document.getElementById("id_swr_real_estate").innerHTML = returnMoney(((realEstate * netWorth / 100) * (realEstateSWR / 100)));
    document.getElementById("id_swr_stocks").innerHTML = returnMoney(((stocks * netWorth / 100) * (stocksSWR / 100)));
    totalSWR = ((realEstate * netWorth / 100) * (realEstateSWR / 100)) + ((stocks * netWorth / 100) * (stocksSWR / 100));
    totalSWRFormatted = returnMoney(totalSWR);
    document.getElementById("id_swr_total").innerHTML = totalSWRFormatted;
  }

  function checkTotal(name, value) {
    el = name+"_p";
    document.getElementById(el).innerHTML = returnMoney(value * netWorth / 100);
    var realEstate = document.getElementById('id_real_estate').value;
    var stocks = document.getElementById('id_stocks').value;
    var crypto = document.getElementById('id_crypto').value;
    var commodities = document.getElementById('id_commodities').value; 
    var collectables = document.getElementById('id_collectables').value; 
    var cash = document.getElementById('id_cash').value; 
    var totalPercent = parseInt(realEstate, 10) + parseInt(stocks, 10) + 
      parseInt(crypto, 10) + parseInt(commodities, 10) + parseInt(collectables, 10) + parseInt(cash, 10);
      if (Number.isNaN(totalPercent)) { 
        totalPercent = 0;
      }

      if (totalPercent < 101) { 
      document.getElementById("Button").disabled = false;
      document.getElementById("counter").innerHTML = totalPercent + "%";
      document.getElementById("counter").style.color = 'black';

      } else {
      document.getElementById("Button").disabled = true;
      document.getElementById("counter").innerHTML = totalPercent + "%";
      document.getElementById("counter").style.color = 'red';
      }
  }

  function numbersWithCommas(x) {
    // var nw = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      //document.getElementById("id_networth_goal").value = nw;
  }
</script> 
<script>
  function addEntry() {
        var start_date = document.getElementById('start_date').value;
        var networth_goal = document.getElementById('networth_goal').value;
        var cpi = document.getElementById('cpi').value;
        var real_estate = document.getElementById('real_estate').value;
        var stocks = document.getElementById('stocks').value;
        var crypto = document.getElementById('crypto').value;
        var commodities = document.getElementById('commodities').value;
        var collectables = document.getElementById('collectables').value;
        var cash = document.getElementById('cash').value;
        var real_estate_swr = document.getElementById('real_estate_swr').value;
        var stocks_swr = document.getElementById('stocks_swr').value;
        if (start_date && networth_goal && cpi && real_estate && stocks && crypto && commodities && collectables && cash && real_estate_swr && stocks_swr) {
            // Create Ajax Call
            $(document).ready(function () {
            let body={
                'start_date': start_date,
                'networth_goal': networth_goal,
                'cpi': cpi,
                'real_estate': real_estate,
                'stocks': stocks,
                'crypto': crypto,
                'commodities': commodities,
                'collectables': collectables,
                'cash': cash,
                'real_estate_swr': real_estate_swr,
                'stocks_swr': stocks_swr,
            }
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '{% url "retirement_goals:add_retirement_goal" %}',
                headers: {//<==
                    "X-CSRFTOKEN": "{{ csrf_token }}"//<==
                },
                data: JSON.stringify(body),
                success: function(data) {
                //Success code
                    console.log(data,'data')
                    if (data.user) {
                        location.reload();
                    }
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        });
        } else
        {
            alert("All fields must have a valid value.");
        }
  }
</script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  var realEstate = parseInt(document.getElementById('id_real_estate').value);
  var stocks = parseInt(document.getElementById('id_stocks').value);
  var CR = parseInt(document.getElementById('id_crypto').value);
  var COM = parseInt(document.getElementById('id_commodities').value); 
  var COL = parseInt(document.getElementById('id_collectables').value); 
  var cash = parseInt(document.getElementById('id_cash').value); 
  
  function drawChart() {   
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Real Estate', realEstate],
      ['Stocks',stocks],
      ['Crypto',CR],
      ['Commodities',COM],
      ['Collectables',COL],
      ['Cash',cash],
    ]);

    var options = {
      // is3D: true,
      // pieHole: 0.4,
      // legend: 'none',
      // pieSliceText: 'label',
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>

<!-- <script>
  document.addEventListener("DOMContentLoaded", () => {
  new ApexCharts(document.querySelector("#pieChart"), {

      var realEstate = parseInt(document.getElementById('id_real_estate').value);
      var stocks = parseInt(document.getElementById('id_stocks').value);
      var CR = parseInt(document.getElementById('id_crypto').value);
      var COM = parseInt(document.getElementById('id_commodities').value); 
      var COL = parseInt(document.getElementById('id_collectables').value); 
      var cash = parseInt(document.getElementById('id_cash').value); 

      series: [{{realEstate}}, {{stocks}}, {{CR}}, {{COM}}, {{COL}}, {{cash}}],
      chart: {
      height: 380,
      type: 'pie',
      toolbar: {
          show: true
      }
      },
      title: {
      text: 'Financial Plan {{year}}',
      align: 'center',
      // offsetX: 110
      },
      legend: {
      position: 'top'
      // horizontalAlign: 'center',
      // offsetX: 40
      },
      labels: ['Real Estate', 'Stocks', 'Crypto', 'Commodities', 'Collectables', 'Cash']
  }).render();
  });
</script> -->

<script>
  $(document).ready( function () {
    $('#financial_plan').DataTable();
  });
</script>

{% endblock content %}