{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ object.name }} - <span style="font-size:14px"><a href="popupex.html" onclick="return popitup('/properties/{{ object.id }}/edit')">Edit</a></span>
     
      <button type="button" onclick="Toasty()" class="btn btn-secondary btn-sm">{{ reminders_count }} Reminders <span class="badge badge-success">
      </span></button>
{% endblock title %}

{% block content %}
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<script src="{% static 'GoogleChart/Gchart.js' %}"></script>

<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Loan', {{object.loan_amount|stringformat:".2f"}}],
      ['Equity', {{ equity|stringformat:".2f"}} ],

    ]);

    var options = {
      title: 'Loan to Value',
      is3D: true,
      colors: ['#32CD32', '#228B22']
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>
<script>
  var option = {
    animation : true,
    delay : 2000
  };
            
  function Toasty( )
    {
      var toastHTMLElement = document.getElementById( 'EpicToast' );           
      var toastElement = new bootstrap.Toast( toastHTMLElement, option );               
      toastElement.show( );
    }         
</script>

<style>
    #mortgageRepaymentValue, #rentalYieldValue, #rentalYieldValue, #operatingExpensesValue, #rentAfterVacancyRateValue, #netIncomeValue, #netOperatingIncomeValue, #netIncomeValue { text-align: right; },
</style>

<script type="text/javascript">
    var selectFunction = function() {
        var weekMonthYear = document.getElementById("weekMonthYear").value;
        if (weekMonthYear == "Weekly") {
        document.getElementById("rentalYieldValue").innerHTML = "${{ rent_weekly|floatformat:2 }}"; 
        document.getElementById("rentAfterVacancyRateValue").innerHTML = "${{ rent_after_vancany_rate_weekly|floatformat:2 }}"; 
        document.getElementById("operatingExpensesValue").innerHTML = "${{ operating_expenses_weekly|floatformat:2 }}"; 
        document.getElementById("netOperatingIncomeValue").innerHTML = "${{ net_operating_income_weekly|floatformat:2 }}"; 
        document.getElementById("mortgageRepaymentValue").innerHTML = "${{ mortgage_repayment_weekly|floatformat:2 }}"; 
        document.getElementById("netIncomeValue").innerHTML = "${{ net_operating_income_weekly|floatformat:2 }}"; 
                               
        } else if (weekMonthYear == "Monthly") {
        document.getElementById("rentalYieldValue").innerHTML = "${{ rent_monthly|floatformat:2 }}"; 
        document.getElementById("rentAfterVacancyRateValue").innerHTML = "${{ rent_after_vacany_rate_monthly|floatformat:2 }}"; 
        document.getElementById("operatingExpensesValue").innerHTML = "${{ operating_expenses_monthly|floatformat:2 }}"; 
        document.getElementById("netOperatingIncomeValue").innerHTML = "${{ net_operating_income_monthly|floatformat:2 }}"; 
        document.getElementById("mortgageRepaymentValue").innerHTML = "${{ mortgage_repayment_monthly|floatformat:2 }}"; 
        document.getElementById("netIncomeValue").innerHTML = "${{ net_operating_income_monthly|floatformat:2 }}"; 
     
        } else if (weekMonthYear == "Yearly") {
        document.getElementById("rentalYieldValue").innerHTML = "${{ object.rent|floatformat:2}}"; 
        document.getElementById("rentAfterVacancyRateValue").innerHTML = "${{ rent_after_vacany_rate|floatformat:2 }}"; 
        document.getElementById("operatingExpensesValue").innerHTML = "${{ operating_expenses|floatformat:2 }}"; 
        document.getElementById("netOperatingIncomeValue").innerHTML = "${{ net_operating_income|floatformat:2 }}"; 
        document.getElementById("mortgageRepaymentValue").innerHTML = "${{ mortgage_repayment|floatformat:2 }}"; 
        document.getElementById("netIncomeValue").innerHTML = "${{ net_operating_income |floatformat:2 }}"; 
      
        }
    }
</script>

<!-- <div class="container"> -->
    <div class="container">
        <div class="row">
            <div class="col-12">                    
                <div class="toast mb-3" id="EpicToast" role="alert" aria-live="assertive" aria-atomic="true" style="float:right;">
                    <div class="toast-header">
                        <strong class="mr-auto">Reminders</strong>
                    </div>
                    <div class="toast-body">
                        {% for reminder in reminders %}
                            <li>{{ reminder.detail}} - {{ reminder.due_date }} </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3 d-flex mb-3">
            <img src='../../media/no_picture.png' width='256' height='256'>
            <div id="piechart_3d" style="height: 250px;"></div>
        </div>     
        
        <div>
            <div class="d-flex">
                <h5>Street Address: </h5> &nbsp; &nbsp; &nbsp;
                <span>{{ object.street_address }}</span> 
            </div>
            <div class="d-flex">
                <h5>Purchase Date: </h5> &nbsp; &nbsp; &nbsp;
                <span>{{ object.purchase_date }}</span> 
            </div>
        </div>
        <!-- <table>
            <tr>
                <th>Street Address</th>
                <td>{{ object.street_address }}</td>
            </tr>
            <tr>
                <th>Purchase Date</th>
                <td>{{ object.purchase_date }}</td>
            </tr>
        </table> -->
    </div>

    <div class="card">
        <div class="card-body mt-3">
          <!-- <h5 class="card-title">Bordered Tabs Justified</h5> -->

          <!-- Bordered Tabs Justified -->
          <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">Property Information</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="genInfo-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-genInfo" type="button" role="tab" aria-controls="genInfo" aria-selected="false">General Information</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="finance-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-finance" type="button" role="tab" aria-controls="finance" aria-selected="false">Financial Information</button>
            </li>
            
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="loan-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-loan" type="button" role="tab" aria-controls="loan" aria-selected="false">Loan Information</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="income-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-income" type="button" role="tab" aria-controls="income" aria-selected="false">Income</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="expanses-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-expanses" type="button" role="tab" aria-controls="expanses" aria-selected="false">Expanses</button>
            </li>

            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="performance-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-performance" type="button" role="tab" aria-controls="performance" aria-selected="false">Property Performance</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="investment-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-investment" type="button" role="tab" aria-controls="investment" aria-selected="false">Investment Info</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Property Contacts</button>
            </li>

          </ul>

          <div class="tab-content pt-2" id="borderedTabJustifiedContent">
            <div class="tab-pane fade show active p-4" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="1">Property Information</th>
                    </tr>
                </thead>
                <tr>
                    <td>Property Type</td>
                    <td id='#'>{{ object.property_type }}</td>
                </tr>
                <tr>
                    <td>Land Size</td>
                    <td>{{ object.land_size }}</td>
                </tr>
                <tr>
                    <td>Building Size</td>
                    <td>{{ object.building_size }}</td>
                </tr>
                <tr>
                    <td>Lounge</td>
                    <td>{{ object.lounge }}</td>
                </tr>
                <tr>
                    <td>Bedrooms</td>
                    <td>{{ object.bedrooms }}</td>
                </tr>
                <tr>
                    <td>Bathrooms</td>
                    <td>{{ object.bathrooms }}</td>
                </tr>
                <tr>
                    <td>Parking</td>
                    <td>{{ object.parking }}<br></td>
                </tr>
                <tr>
                    <td>Garage Type</td>
                    <td>{{ object.garage }}<br></td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade" id="bordered-justified-genInfo" role="tabpanel" aria-labelledby="genInfo-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">General Information</th>
                    </tr>
                </thead>
                <tr>
                    <td>Vacancy Rate:</td>
                    <td>{{ object.vacancy_rate|floatformat:2 }}%</td>
                </tr>
                <tr>
                    <td>Management fee</td>
                    <td>{{ object.management_fee|floatformat:2 }}%</td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade" id="bordered-justified-finance" role="tabpanel" aria-labelledby="finance-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Financial Information</th>
                    </tr>
                </thead>
                <tr>
                    <td>Market Value</td>
                    <td>${{ object.market_value|floatformat:2}}</td>
                </tr>
                <tr>
                    <td>Purchase Price</td>
                    <td>${{ object.purchase_price|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Deposit</td>
                    <td>${{ object.deposit }}</td>
                </tr>
                <tr>
                    <td>Equity</td>
                    <td>${{ equity }}</td>
                </tr>
              </table>
            </div>

            <div class="tab-pane fade" id="bordered-justified-loan" role="tabpanel" aria-labelledby="loan-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Loan Information</th>
                    </tr>
                </thead>
                <tr>
                    <td>Loan Amount</td>
                    <td>${{ object.loan_amount|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Term Left</td>
                    <td>{{ loan_term_left|floatformat:2 }} years</td>
                </tr>
                <tr>
                    <td>Interest Rate</td>
                    <td>{{ object.interest_rate|floatformat:2 }}%</td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade" id="bordered-justified-income" role="tabpanel" aria-labelledby="income-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Income</th>
                    </tr>
                </thead>
                <tr>
                    <td>Rent</td>
                    <td><span id="rentalYieldValue">${{ object.rent|floatformat:2  }}</span></td>
                </tr> 
              </table>
            </div>
            <div class="tab-pane fade" id="bordered-justified-expances" role="tabpanel" aria-labelledby="expanses-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Expenses</th>
                    </tr>
                </thead>
                <tr>
                    <td>Repayments</td>
                    <td>${{ object.repayments|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Insurance</td>
                    <td>${{ object.insurance|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Management Fee</td>
                    <td>${{ net_management|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Body Corp fee</td>
                    <td>${{ object.bodycorp_fee|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Maintenance</td>
                    <td>${{ object.maintenance|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>Rates</td>
                    <td>${{ object.rates|floatformat:2 }}<br></td>
                </tr>
              </table>
            </div>

            <div class="tab-pane fade" id="bordered-justified-performance" role="tabpanel" aria-labelledby="performance-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Property Performance</th>
                    </tr>
                </thead>
                <tr>
                    <td>Gross Rental Income</td>
                    <td>${{ object.rent|floatformat:2  }}</td>
                </tr>

                <tr>
                    <td>Rent After Vacancy</td>
                    <td><span id="rentAfterVacancyRateValue">${{ rent_after_vacany_rate|floatformat:2  }}</span></td>
                </tr>
                <tr>
                    <td>Operating Expenses</td>
                    <td><span id="operatingExpensesValue" >${{ operating_expenses|floatformat:2  }}</span></td>
                </tr>
                <tr>
                    <td>Net Operating Income</td>
                    <td><span id="netOperatingIncomeValue"> ${{ net_operating_income|floatformat:2  }}</span></td>
                </tr>
                <tr>
                    <td>Mortgage Repayment</td>
                    <td><span id="mortgageRepaymentValue">${{ mortgage_repayment|floatformat:2 }}</span></td>
                </tr>
                <tr>
                    <td>Net Income</td>
                    <td><span id="netIncomeValue">${{ net_income|floatformat:2 }}</span></td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade" id="bordered-justified-investment" role="tabpanel" aria-labelledby="investment-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Investment Info</th>
                    </tr>
                </thead>
                <tr>
                    <td>Gross Yield</td>
                    <td>{{ gross_yield|floatformat:2 }}%</td>
                </tr>
                <tr>
                    <td>Net Operating Income</td>
                    <td>{{ net_operating_income_percent|floatformat:2 }}%</td>
                </tr>
                <tr>
                    <td>Loan To Value</td>
                    <td>{{ loan_to_value|floatformat:2 }}% </td>
                </tr>
                <tr>
                    <td>Cap Rate</td>
                    <td>{{ cap_rate|floatformat:2 }}% </td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th colspan="2">Property Contacts</th>
                    </tr>
                </thead>
                {% for obj in contact_obj %}
                <tr>
                    <td>{{ obj.occupation }}</td>
                    <td><a href="tel:{{ obj.contact_number }}">{{ obj.first_name }}</a></td>
                </tr>
                {% endfor %}
              </table>
            </div>

          </div><!-- End Bordered Tabs Justified -->

        </div>
      </div>


{% endblock content %}
