{% extends "base.html" %}
{% load static %}
{% block title %}
{% load humanize %}
    {{ object.name }}
     
      <button type="button" onclick="Toasty()" class="btn btn-secondary btn-sm">{{ reminders_count }} Reminders <span class="badge badge-success">
      </span></button>
{% endblock title %}

{% block content %}
<script src="{% static 'GoogleChart/Gchart.js' %}"></script>

<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Loan', {{object.loan_amount|stringformat:".2f"}}],
      ['Equity', {{ equity|stringformat:".2f"|intcomma}} ],

    ]);

    var options = {
      // title: 'Loan to Value',
      // is3D: true,
      legend: { position: 'top', alignment: 'center' },
      colors: ['rgb(51, 102, 204)', 'rgb(153, 0, 153)',]
      // colors: ['#32CD32', '#228B22']
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>
<script>
  var option = {
    animation : true,
    delay : 2000
  };
            
  function Toasty( )
    {
      var toastHTMLElement = document.getElementById( 'EpicToast' );           
      var toastElement = new bootstrap.Toast( toastHTMLElement, option );               
      toastElement.show( );
    }         
</script>

<style>
    #mortgageRepaymentValue, #rentalYieldValue, #rentalYieldValue, #operatingExpensesValue, #rentAfterVacancyRateValue, #netIncomeValue, #netOperatingIncomeValue, #netIncomeValue { text-align: right; },
</style>

<script type="text/javascript">
    var selectFunction = function() {
        var weekMonthYear = document.getElementById("weekMonthYear").value;
        if (weekMonthYear == "Weekly") {
        document.getElementById("rentalYieldValue").innerHTML = "${{ rent_weekly|floatformat:2 }}"; 
        document.getElementById("rentAfterVacancyRateValue").innerHTML = "${{ rent_after_vancany_rate_weekly|floatformat:2 }}"; 
        document.getElementById("operatingExpensesValue").innerHTML = "${{ operating_expenses_weekly|floatformat:2 }}"; 
        document.getElementById("netOperatingIncomeValue").innerHTML = "${{ net_operating_income_weekly|floatformat:2 }}"; 
        document.getElementById("mortgageRepaymentValue").innerHTML = "${{ mortgage_repayment_weekly|floatformat:2 }}"; 
        document.getElementById("netIncomeValue").innerHTML = "${{ net_operating_income_weekly|floatformat:2 }}"; 
                               
        } else if (weekMonthYear == "Monthly") {
        document.getElementById("rentalYieldValue").innerHTML = "${{ rent_monthly|floatformat:2 }}"; 
        document.getElementById("rentAfterVacancyRateValue").innerHTML = "${{ rent_after_vacany_rate_monthly|floatformat:2 }}"; 
        document.getElementById("operatingExpensesValue").innerHTML = "${{ operating_expenses_monthly|floatformat:2 }}"; 
        document.getElementById("netOperatingIncomeValue").innerHTML = "${{ net_operating_income_monthly|floatformat:2 }}"; 
        document.getElementById("mortgageRepaymentValue").innerHTML = "${{ mortgage_repayment_monthly|floatformat:2 }}"; 
        document.getElementById("netIncomeValue").innerHTML = "${{ net_operating_income_monthly|floatformat:2 }}"; 
     
        } else if (weekMonthYear == "Yearly") {
        document.getElementById("rentalYieldValue").innerHTML = "${{ object.rent|floatformat:2}}"; 
        document.getElementById("rentAfterVacancyRateValue").innerHTML = "${{ rent_after_vacany_rate|floatformat:2 }}"; 
        document.getElementById("operatingExpensesValue").innerHTML = "${{ operating_expenses|floatformat:2 }}"; 
        document.getElementById("netOperatingIncomeValue").innerHTML = "${{ net_operating_income|floatformat:2 }}"; 
        document.getElementById("mortgageRepaymentValue").innerHTML = "${{ mortgage_repayment|floatformat:2 }}"; 
        document.getElementById("netIncomeValue").innerHTML = "${{ net_operating_income |floatformat:2 }}"; 
      
        }
    }
</script>

<!-- <div class="container"> -->
    <div class="container">
        <div class="row">
            <div class="col-12">                    
                <div class="toast mb-3" id="EpicToast" role="alert" aria-live="assertive" aria-atomic="true" style="float:right;">
                    <div class="toast-header">
                        <strong class="mr-auto">Reminders</strong>
                    </div>
                    <div class="toast-body">
                        {% for reminder in reminders %}
                            <li>{{ reminder.detail}} - {{ reminder.due_date }} </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section profile">
      <div class="row">
        <div class="col-xl-3">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
              <img src="{% static "images/no_picture.png" %}" width='256' height='256'>
              <!-- <h2>Kevin Anderson</h2> -->
              <h3>Street Address: <span> {{ object.street_address }}</span> </h3>
              <h3>Purchase Date: <span>{{ object.purchase_date }}</span> </h3>

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Equity vs Loan </h5>
              <div id="piechart_3d" style="width: auto; height: 18rem;"></div>
            </div>
          </div>

        </div>

        <div class="col-xl-9">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#property-info">Property Info</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#general-info">General Info</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#financial-info">Financial Info</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#loan-info">Loan</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#income">Income</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#expense">Expense</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#performance">Performance</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#investment">Investment</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contacts">Property Contacts</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview pt-3" id="property-info">

                  <h5 class="card-title">Property Information</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Property Type:</div>
                    <div class="col-lg-9 col-md-8">{{ object.property_type }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Land Size:</div>
                    <div class="col-lg-9 col-md-8">{{ object.land_size }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Building Size:</div>
                    <div class="col-lg-9 col-md-8">{{ object.building_size }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Lounge:</div>
                    <div class="col-lg-9 col-md-8">{{ object.lounge }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Bedrooms:</div>
                    <div class="col-lg-9 col-md-8">{{ object.bedrooms }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Parking:</div>
                    <div class="col-lg-9 col-md-8">{{ object.parking }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Garage Type:</div>
                    <div class="col-lg-9 col-md-8">{{ object.garage }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="general-info">

                  <h5 class="card-title">General Information</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Vacancy Rate:</div>
                    <div class="col-lg-9 col-md-8">{{ object.vacancy_rate|floatformat:2 }}%</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Management fee:</div>
                    <div class="col-lg-9 col-md-8">{{ object.management_fee|floatformat:2 }}%</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="financial-info">

                  <h5 class="card-title">Financial Information</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Market Value:</div>
                    <div class="col-lg-9 col-md-8">${{ object.market_value|floatformat:2}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Purchase Price:</div>
                    <div class="col-lg-9 col-md-8">${{ object.purchase_price|floatformat:2 }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Deposit:</div>
                    <div class="col-lg-9 col-md-8">${{ object.deposit|intcomma }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Equity:</div>
                    <div class="col-lg-9 col-md-8">${{ equity|intcomma }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="loan-info">

                  <h5 class="card-title">Loan Information</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Loan Amount:</div>
                    <div class="col-lg-9 col-md-8">${{ object.loan_amount|floatformat:2 }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Term Left:</div>
                    <div class="col-lg-9 col-md-8">{{ loan_term_left|floatformat:2 }} years</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Interest Rate:</div>
                    <div class="col-lg-9 col-md-8">{{ object.interest_rate|floatformat:2 }}%</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="income">

                  <h5 class="card-title">Income</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Rent Amount:</div>
                    <div class="col-lg-9 col-md-8">${{ object.rent|floatformat:2  }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="expense">

                  <h5 class="card-title">Expense</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Repayments:</div>
                    <div class="col-lg-9 col-md-8">${{ object.repayments|floatformat:2 }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Insurance:</div>
                    <div class="col-lg-9 col-md-8">${{ object.insurance|floatformat:2 }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Management Fee:</div>
                    <div class="col-lg-9 col-md-8">${{ net_management|floatformat:2 }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Body Corp fee:</div>
                    <div class="col-lg-9 col-md-8">${{ object.bodycorp_fee|floatformat:2 }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Maintenance:</div>
                    <div class="col-lg-9 col-md-8">${{ object.maintenance|floatformat:2 }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Rates:</div>
                    <div class="col-lg-9 col-md-8">${{ object.rates|floatformat:2 }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="performance">

                  <h5 class="card-title">Property Performance</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Gross Rental Income:</div>
                    <div class="col-lg-9 col-md-8">${{ object.rent|floatformat:2  }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Rent After Vacancy:</div>
                    <div class="col-lg-9 col-md-8">${{ rent_after_vacany_rate|floatformat:2  }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Operating Expenses:</div>
                    <div class="col-lg-9 col-md-8">${{ operating_expenses|floatformat:2  }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Net Operating Income:</div>
                    <div class="col-lg-9 col-md-8">${{ net_operating_income|floatformat:2  }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Mortgage Repayment:</div>
                    <div class="col-lg-9 col-md-8">${{ mortgage_repayment|floatformat:2 }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Net Income:</div>
                    <div class="col-lg-9 col-md-8">${{ net_income|floatformat:2 }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="investment">

                  <h5 class="card-title">Investment Information</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Gross Yield:</div>
                    <div class="col-lg-9 col-md-8">{{ gross_yield|floatformat:2 }}%</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Net Operating Income:</div>
                    <div class="col-lg-9 col-md-8">{{ net_operating_income_percent|floatformat:2 }}%</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Loan To Value:</div>
                    <div class="col-lg-9 col-md-8">{{ loan_to_value|floatformat:2 }}%</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Cap Rate:</div>
                    <div class="col-lg-9 col-md-8">{{ cap_rate|floatformat:2 }}%</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-overview pt-3" id="contacts">

                  <h5 class="card-title">Property Contacts</h5>

                  <table class="table table-hover" style="font-size:small">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Occupation</th>
                        <th>Contact</th>
                      </tr>
                    </thead>
                    {% for obj in contact_obj %}
                    <tr>
                      <td>{{ obj.first_name }}</td>
                      <td>{{ obj.occupation }}</td>
                      <td><a href="tel:{{ obj.contact_number }}">{{ obj.contact_number }}</a></td>
                    </tr>
                    {% endfor %}
                  </table>

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}
