{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
<div class="title">Transactions
    <!-- <span> | {{year}}</span> -->
    <span class="filter position-absolute" style="right: 2rem;">
        <a class="icon btn btn-dashboard" data-bs-toggle="dropdown" href="#" type="button">View By <i class="bi bi-grid"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Filter</h6>
            </li>
            {% for year in years_list%}
            <li><a class="dropdown-item" href="{% url 'stock_portfolios:stock-transactions' year %}">{{year|stringformat:"i"}}</a></li>
            {%endfor%}
        </ul>
    </span>
</div>
{% endblock title %}

{% block content %}

<script src="{% static 'apexcharts/apexcharts.min.js' %}"></script>
<div class="d-flex justify-content-between" >
    <div>
    <button type="button" class="btn btn-dashboard mb-3" hx-get="{% url 'stock_portfolios:add-transaction' %}" hx-target="#dialog">
        <svg class="bi bi-calendar-plus me-1" fill="currentColor" height="16" viewBox="0 0 16 16"
                 width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
      New Transaction
    </button>
    <button type="button" class="btn btn-dashboard mb-3" hx-get="{% url 'stock_portfolios:addStock' %}" hx-target="#dialog">
        <svg class="bi bi-calendar-plus me-1" fill="currentColor" height="16" viewBox="0 0 16 16"
                 width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
      Add Stock
    </button>
    </div>
    <!-- Empty toast to show the message -->
    <div class="toast-container">
      <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body mt-4" style="overflow-x:auto;">
                <table class="table table-hover" style="font-size:small" id="transactions-list">
                    <thead>
                    <tr>
                        <th style="text-align:left">Ticker</th>
                        <th style="text-align:left">Transaction Type</th>
                        <th style="text-align:right">Quantity</th>
                        <th style="text-align:right">Purchased Price</th>
                        <th style="text-align:right">Total Investment</th>
                        <th style="text-align:right">Date</th>
                        <th style="text-align:right">Action</th>
                    </tr>
                    </thead>
                    <tbody hx-trigger="load, transactionListChanged from:body" hx-get="{% url 'stock_portfolios:transaction_list' %}" hx-target="this">
                      <tr>
                        <td class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Placeholder for the modal -->
    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>




    <!-- Scripts: Bootstraps, HTMX, and custom JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="{% static "dialog.js" %}"></script>
    <script src="{% static "toast.js" %}"></script>
<script>
    function deleteTransaction(id) {
        $.ajax({
            url: '{% url "stock:deleteTransaction" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data,'delete');
                if (data.deleted) {
                   location.reload();
                }
            }
        });
    }
</script>
{% endblock content %}

