{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% load bootstrap %}
{% block title %}
<div class="title">Transactions
    <!-- <span> | {{year}}</span> -->
    <span class="filter position-absolute" style="right: 2rem;">
        <a class="icon btn btn-dashboard" data-bs-toggle="dropdown" href="#" type="button">View By <i class="bi bi-grid"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Filter</h6>
            </li>
            {% for year in years_list%}
            <li><a class="dropdown-item" href="{% url 'crypto:crypto-transactions' year %}">{{year|stringformat:"i"}}</a></li>
            {%endfor%}
        </ul>
    </span>
</div>
{% endblock title %}

{% block content %}

<script src="{% static 'apexcharts/apexcharts.min.js' %}"></script>

<!-- Google Chart -->
<script src="{% static 'GoogleChart/Gchart.js' %}"></script>
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->







</script>

<script>








</script>
<button type="button" class="btn btn-dashboard mb-3" hx-get="{% url 'crypto:add-sufi-transaction' %}" hx-target="#dialog">
    <svg class="bi bi-calendar-plus me-1" fill="currentColor" height="16" viewBox="0 0 16 16"
             width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
  New Transaction
</button>
<button type="button" class="btn btn-dashboard mb-3" hx-get="{% url 'crypto:crypto-add' %}" hx-target="#dialog">
    <svg class="bi bi-calendar-plus me-1" fill="currentColor" height="16" viewBox="0 0 16 16"
             width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
  New Coin
</button>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Coin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addStock">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" value="" name="add_coin" id="add_coin">
                <label class="form-label">Ticker</label>
                <input class="form-control" type="text" value="" name="add_ticker" id="add_ticker">
                <label class="form-label">Year</label>
                <input class="form-control" type="text" value="" name="year" id="year">
            </div>
            <button class="btn btn-primary form-control" type="button" onclick="addCrypto()">ADD</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addTransaction">
            <div class="alert alert-warning alert-dismissible fade show" style="display:none" role="alert" id="quantity_alert">
                    You don't have sufficient quantity for this coin.
                  <button type="button" class="btn-close"  onclick="closeAlert()" aria-label="Close"></button>
                </div>
            <div class="mb-3">
                <label class="form-label">Select Crypto</label>
                <select class="form-select" name="coin" id="coin" aria-label="Default select example">
                    <option selected>------</option>
                    {% for coins in crypto %}
                    <option value="{{coins.name}}">{{coins.name}}</option>
                    {% endfor %}
                </select>
                <label class="form-label">Transaction Type</label>
                <select class="form-select" name="transaction_type" id="transaction_type" aria-label="Default select example">
                    <option selected>------</option>
                    <option value="Buy">Buy</option>
                    <option value="Sell">Sell</option>
                </select>
                <label class="form-label">Quantity</label>
                <input class="form-control" name="quantity" min="0" step="any" id="quantity" type="number" oninput="validity.valid||
    (value='');">
                <label class="form-label">Spot Price</label>
                <input class="form-control" name="spot_price" id="spot_price" type="number" min="0" step="any" oninput="validity.valid||
    (value='');">
                <label class="form-label">Date</label>
                <input class="form-control" name="date" id="date" type="date" >
            </div>
            <button class="btn btn-primary form-control" type="button" onclick="addTransaction()">ADD</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body mt-4" style="overflow-x:auto;">
                <table class="table table-hover" style="font-size:small" id="transactionTable">
                    <thead>
                    <tr>
                        <th style="text-align:left">Name</th>
                        <th style="text-align:left">Transaction Type</th>
                        <th style="text-align:right">Quantity</th>
                        <th style="text-align:right">Purchased Price</th>
                        <th style="text-align:right">Total Investment</th>
                        <th style="text-align:right">Date</th>
                        <th style="text-align:right">Action</th>
                    </tr>
                    </thead>
                    <tbody hx-trigger="load, transactionListChanged from:body" hx-get="{% url 'crypto:crypto_transaction_list' %}" hx-target="this">
                      <tr>
                        <td class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>
<!-- Scripts: Bootstraps, HTMX, and custom JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="{% static "dialog.js" %}"></script>
    <script src="{% static "toast.js" %}"></script>
<script>
    function addCrypto() {
        var coin = document.getElementById('add_coin').value;
        var ticker = document.getElementById(`add_ticker`).value;
        var year = document.getElementById('year').value;
        if (coin && ticker && year) {
            // Create Ajax Call
            $(document).ready(function () {
            let body={
                'coin': coin,
                'ticker': ticker,
                'year': year
            }
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '{% url "crypto:addCrypto" %}',
                headers: {//<==
                    "X-CSRFTOKEN": "{{ csrf_token }}"//<==
                },
                data: JSON.stringify(body),
                success: function(data) {
                //Success code
                    console.log(data,'data')
                    if (data.user) {
                        $(`#exampleModal`).modal('hide');
                        alert(`${data?.user?.name} has been successfully added to Coins`)
                    }
                },
                failure: function (response) {
                    $('#result').html(response);
                }
            });
        });
        } else
        {
            alert("All fields must have a valid value.");
        }
        $('form#addTransaction').trigger("reset");
        return false;
    }
</script>
<script>
    $('#exampleModal').on('hidden.bs.modal', function () {
        $('form#addTransaction').trigger("reset");
    })
    function closeAlert(){
        $('#quantity_alert').hide();
    }
    function deleteTransaction(id) {
        $.ajax({
            url: '{% url "crypto:deleteTransaction" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data,'delete');
                if (data.deleted) {
                   location.reload();
                }
            }
        });
    }

</script>
{% endblock content %}

