{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
<div class="title">Commodities <span> | {{year}}</span></div>
{% endblock title %}

{% block content %}

<script src="{% static 'apexcharts/apexcharts.min.js' %}"></script>

<!-- Google Chart -->
<script src="{% static 'GoogleChart/Gchart.js' %}"></script>
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->





</script>

<script>
  window.onblur= function() {window.onfocus= function () {location.reload(true)}};





</script>
<div class="dashboard">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Commodities Timeline</h5>
                    <div id="Chart" style="width: 100%;"></div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="filter">
                    <a class="icon" data-bs-toggle="dropdown" href="#"><i class="bi bi-three-dots"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>
                        {% for year in years_list%}
                        <!-- <option value="../{{year|stringformat:"i"}}"> {{year|stringformat:"i"}}</option> -->
                        <li><a class="dropdown-item" href="../{{year|stringformat:" i"}}">{{year|stringformat:"i"}}</a>
                        </li>
                        {%endfor%}

                        <!-- <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li> -->
                    </ul>
                </div>
                <div class="card-body pb-0">
                    <h5 class="card-title">Commodities <span>| {{year}}</span></h5>
                    <div id="piechart_3d" style="width: auto; height: 350px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body mt-4">
        <table class="table table-hover" style="font-size:small">
            <thead>
            <tr>
            <th> Class Name</th>
            <th> Purchased Price</th>
            <th> Latest Price</th>
            <th> Date</th>
            </tr>
            </thead>

            <tbody>
            {%for class in commodity_classes%}
              <tr>
                <td style="text-align:left">{{ class.commodity_class}}</td>
                <td style="text-align:left">${{ class.spot_price}}</td>
                <td style="text-align:left">${{ class.latest_price}}</td>
                <td style="text-align:left">{{ class.date}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body style-7 mt-4" style="height: 60vh; overflow-y: auto; scrollbar-width: thin; scrollbar-color: #aab7cf transparent;">
                <table class="table table-hover" style="font-size:small">
                    <thead>
                    <tr>
                        <th style="text-align:left">Name</th>
                        <th style="text-align:left">Spot Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,value in commodities_list.items%}
                    <tr>
                        <!--              <td style="text-align:left"><a href='{{obj.pk}}/'>{{ obj.commodity_class }}</a></td>-->
                        <td style="text-align:left">{{ key }}</td>
                        <td style="text-align:left">{{value}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function ModelFunction(commodity){
        console.log(commodity);
    }
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    new ApexCharts(document.querySelector("#Chart"), {
      series: [ {
        name: 'Commodities All Years Progress',
        type: 'column',
        data: {{commodities_invested_all_years_total_list}}
      }],
      chart: {
        height: 315,
        type: 'line',
        stacked: false
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        width: [1, 1, 4]
      },
      title: {
        text: 'Commodities Tracker Timeline',
        align: 'center',
        // offsetX: 110
      },
      xaxis: {
        categories: {{years_list}},
      },
      yaxis: [
        {
          axisTicks: {
            show: true,
          },
          axisBorder: {
            show: true,
            color: '#008FFB'
          },
          labels: {
            style: {
              colors: '#008FFB',
            }
          },
          title: {
            text: "Total Commodities",
            style: {
              color: '#008FFB',
            }
          },
          tooltip: {
            enabled: true
          }
        }
      ],
      tooltip: {
        fixed: {
          enabled: true,
          position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
          offsetY: 30,
          offsetX: 60
        },
      },
      legend: {
        horizontalAlign: 'center',
        // offsetX: 40
      }
    }).render();
  });




</script>

<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      {% for obj in object_list %}
      ['{{ obj.commodity_class }}', {{obj.percentage|stringformat:".2f"}}],
      {% endfor %}
    ]);

    var options = {
      // is3D: true,
      legend: {position: 'top', alignment: 'center'},
      colors: ['Gold', 'Silver', 'Green', 'Red']
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }




</script>
{% endblock content %}
