{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
<div class="title">Commodities <span> | {{year}}</span></div>
{% endblock title %}

{% block content %}

<script src="{% static 'apexcharts/apexcharts.min.js' %}"></script>

<!-- Google Chart -->
<script src="{% static 'GoogleChart/Gchart.js' %}"></script>
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->





</script>

<script>
  window.onblur= function() {window.onfocus= function () {location.reload(true)}};





</script>
<div class="dashboard">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Commodities Timeline</h5>
                    <div id="Chart" style="width: 100%;"></div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="filter">
                    <a class="icon" data-bs-toggle="dropdown" href="#"><i class="bi bi-three-dots"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>
                        {% for year in years_list%}
                        <!-- <option value="../{{year|stringformat:"i"}}"> {{year|stringformat:"i"}}</option> -->
                        <li><a class="dropdown-item" href="../{{year|stringformat:" i"}}">{{year|stringformat:"i"}}</a>
                        </li>
                        {%endfor%}

                        <!-- <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li> -->
                    </ul>
                </div>
                <div class="card-body pb-0">
                    <h5 class="card-title">Commodities <span>| {{year}}</span></h5>
                    <div id="piechart_3d" style="width: auto; height: 350px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body mt-4">
                <table class="table table-hover" style="font-size:small">
                    <thead>
                    <tr>
                        <th style="text-align:left">Commodity</th>
                        <th style="text-align:left">Transaction Type</th>
                        <th style="text-align:right">Weight</th>
                        <th style="text-align:right">Purchased Price</th>
                        <th style="text-align:right">Total Investment</th>
                        <th style="text-align:right">Spot Price</th>
                        <th style="text-align:right">Current Market Value</th>
                        <th style="text-align:right">Profit/Loss %</th>
                        <th style="text-align:right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in transactions %}
                    <tr>
                        <!--              <td style="text-align:left"><a href='{{obj.pk}}/'>{{ obj.commodity_class }}</a></td>-->
                        <td style="text-align:left">{{ obj.commodity }}</td>
                        <td style="text-align:left">{{ obj.transaction_type}}</td>
                        <td style="text-align:right">{{ obj.weight }}</td>
                        <td style="text-align:right">${{ obj.purchasedValue|floatformat:2 }}</td>
                        <td style="text-align:right">${{ obj.totalInvestment|floatformat:2 }}</td>
                        <td style="text-align:right">${{ obj.spotPrice }}</td>
                        <td style="text-align:right">${{ obj.currentMarketValue|floatformat:2 }}</td>
                        <td style="text-align:right">{{ obj.profit_loss_percentage|floatformat:2 }}%</td>
                        <td style="text-align:right">
                            <a href="popupex.html"
                               onclick="return popitup('/commodities/transaction/{{ obj.trans_ob.pk }}/edit')"
                               style="text-decoration: none;">
                                <button class="btn btn-success btn-sm rounded-0" data-placement="top"
                                        data-toggle="tooltip"
                                        title="Edit" type="button">
                                    <svg class="bi bi-pencil-square" fill="currentColor" height="16" viewBox="0 0 16 16"
                                         width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                                              fill-rule="evenodd"/>
                                    </svg>
                                </button>
                            </a>
                            <a href="popupex.html"
                               onclick="return popitup('/commodities/transaction/{{ obj.trans_ob.pk }}/delete')"
                               style="text-decoration: none;">
                                <button class="btn btn-danger btn-sm rounded-0" data-placement="top"
                                        data-toggle="tooltip"
                                        title="Delete" type="button">
                                    <svg class="bi bi-trash" fill="currentColor" height="16" viewBox="0 0 16 16"
                                         width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                              fill-rule="evenodd"/>
                                    </svg>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <thead>
                    <tr>
                        <th style="text-align:left">Total:</th>
                        <th style="text-align:right"></th>
                        <th style="text-align:right"></th>
                        <th style="text-align:right"></th>
                        <th style="text-align:right">${{ grand_total|floatformat:2 }}</th>
                        <th style="text-align:right">${{ invested_total|floatformat:2 }}</th>
                        <th style="text-align:right"></th>
                        <th style="text-align:right"></th>
                    </tr>
                    </thead>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body mt-4">
                <table class="table table-hover" style="font-size:small">
                    <thead>
                    <tr>
                        <th style="text-align:left">Name</th>
                        <th style="text-align:left">Spot Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key,value in commodities_list.items%}
                    <tr>
                        <!--              <td style="text-align:left"><a href='{{obj.pk}}/'>{{ obj.commodity_class }}</a></td>-->
                        <td style="text-align:left">{{ key }}</td>
                        <td style="text-align:left">{{value}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function ModelFunction(commodity){
        console.log(commodity);
    }
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    new ApexCharts(document.querySelector("#Chart"), {
      series: [ {
        name: 'Commodities All Years Progress',
        type: 'column',
        data: {{commodities_invested_all_years_total_list}}
      }],
      chart: {
        height: 315,
        type: 'line',
        stacked: false
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        width: [1, 1, 4]
      },
      title: {
        text: 'Commodities Tracker Timeline',
        align: 'center',
        // offsetX: 110
      },
      xaxis: {
        categories: {{years_list}},
      },
      yaxis: [
        {
          axisTicks: {
            show: true,
          },
          axisBorder: {
            show: true,
            color: '#008FFB'
          },
          labels: {
            style: {
              colors: '#008FFB',
            }
          },
          title: {
            text: "Total Commodities",
            style: {
              color: '#008FFB',
            }
          },
          tooltip: {
            enabled: true
          }
        }
      ],
      tooltip: {
        fixed: {
          enabled: true,
          position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
          offsetY: 30,
          offsetX: 60
        },
      },
      legend: {
        horizontalAlign: 'center',
        // offsetX: 40
      }
    }).render();
  });




</script>

<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      {% for obj in object_list %}
      ['{{ obj.commodity_class }}', {{obj.percentage|stringformat:".2f"}}],
      {% endfor %}
    ]);

    var options = {
      // is3D: true,
      legend: {position: 'top', alignment: 'center'},
      colors: ['Gold', 'Silver', 'Green', 'Red']
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }




</script>
{% endblock content %}
