{% for data in unread %}
<li class="notification-item">
    <div class="d-flex justify-content-between">
        <div>
            <h4>{{data.reminder.property.name}}</h4>
            <p>{{data.reminder.detail}}</p>
            <p>{{data.reminder.due_date}}</p>
        </div>
        <div>
            {% if data.mark_read == False %}
            <i class="bi bi-envelope" data-bs-placement="bottom" data-bs-toggle="tooltip" style="cursor:pointer;"
               title="mark as read"></i>
            {% else %}
            <i class="bi bi-envelope-open" data-bs-placement="bottom" data-bs-toggle="tooltip" style="cursor:pointer;"
               title="mark as unread"></i>
            {% endif %}
        </div>
    </div>

</li>
<li>
    <hr class="dropdown-divider">
</li>
{% endfor %}