{% extends "base.html" %}
{% load static  %}

{% block title %}
Summary Dashboard
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
    <h6>Property Summary</h6>
      <table class="table table-hover">
      <thead>
        <tr onclick="window.location='../';">
          <th scope="col">Number of Properties</th>
          <th scope="col">{{ total_properties }}</th>
        </tr>
      </thead>
    <tbody>

    <tr>
      <td>Assets</td>
      <td>${{ total_assets|floatformat:0 }} </td>
    </tr>
    <tr>
      <td>Liabilities</td>
      <td>${{ total_liabilities|floatformat:0 }} </td>
    </tr>
    <tr>
      <td>Net Worth</td>
      <td>${{ total_networth|floatformat:0 }} </td>
    </tr>
    <tr>
    <td>
    </td>
    <td>
    </td>
    </tr>
      <thead>
        <tr>
          <th scope="col">Income</th>
          <th scope="col">${{ total_income|floatformat:0 }}</th>
        </tr>
      </thead>
      <tr>
      <td>Rental Income</td>
      <td>${{ total_rent|floatformat:0 }}</td>
      </tr>
      <tr>
      <td>Other Income:</td>
      <td>${{ total_other_income|floatformat:0 }}</td>
      </tr>
      <tr>
      <td>
      </td>
      <td>
     <td>
      </tr>
      <thead>
        <tr>
          <th scope="col">Expense</th>
          <th scope="col">${{ total_expenses|floatformat:0 }}</th>
        </tr>
      </thead>
      <tr>
      <td>Operating Expenses</td>
      <td>${{ total_operating_expenses|floatformat:0 }}</td>
      </tr>
      <tr>
      <td>Repayments</td>
      <td>${{ total_repayments|floatformat:0 }}</td>
      </tr>
      <tr>
      <td></td>
      <td></td>
      </tr>
      <thead>
        <tr>
          <th scope="col">Net Rental Income</th>
          <th scope="col">${{ total_net_rental_income|floatformat:0 }}</th>
        </tr>
      </thead>
      <tr>
      <td></td>
      <td></td>
      </tr>
      </tbody>
      </table>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
  </div>
</div>




        </div>
      </div> 
<br> 




{% endblock content %}