{% extends "base.html" %}
{% load static  %}
{% load mathfilters %}

{% block title %}
Profit And Loss {{ year }}
{% endblock title %}

{% block content %}
<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=510,width=384');
    if (window.focus) {newwindow.focus()}
    return false;
}
// -->
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js">
</script>

<select class="form-control" onchange="location = this.value;"> 
    <option selected="" value="" disabled>Select year</option>
    <option value="../2019">2019</option>
    <option value="../2020">2020</option>
    <option value="../2021">2021</option> 
    <option value="../2022">2022</option> 

</select>

    <form action="/propertyincomestatements/yeartodate/{{year}}/" method="get">
<select name="properties" id="properties" multiple>
  {% for obj in prop_qs %}
  <option value="{{ obj.pk }} ">{{ obj.name }}</option>
  {% endfor %}
</select>
<button type="submit" value="Submit">Filter</button>
</form>
 
 <div class="chart-container" style="position: relative; height:40vh; width:80vw">
  <div class="row">
    <div class="col">
<canvas id="myChart" width="50px" height=50px"></canvas>
 </div>
    <div class="col">

<table class="table table-striped table-hover" style="font-size:small">
  <thead>
    <p> <b>{{ year }}</b> Expense</p>
    <tr>
      <th>Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in categories_yearly.items %}
    <tr>
      <td>
        <a href="#">{{key}}</a>
        </td>
      <td>{{value}}</td>
    </tr>
    {% endfor %}
</table>

<table class="table table-striped table-hover" style="font-size:small">
  <thead>
  <p> <b>{% now "F" %} {{ year }} </b>Expenses</p>
    <tr>
      <th>Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in categories_monthly.items %}
    <tr>
      <td>
        <a href="#">{{key}}</a>
        </td>
      <td>{{value}}</td>
    </tr>
    {% endfor %}
</table>

    </div>
  </div>
</div>
</div>


<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
        {% for key, value in categories_yearly.items %}
            '{{key}}',
        {% endfor %}
        ],
        datasets: [{
            label: 'Categories',
            data: [
        {% for key, value in categories_yearly.items %}
            '{{value|stringformat:"i"}}',
        {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      plugins: {
            legend: {
              position: "top",
              align: "left",
          },
        },
        scales: {
          y: {
            ticks: {
              display: false,
            },
             grid: {
                  display: false
               },
          },
          
        }
    }
});
</script>



<br> 


{% endblock content %}